*{
  margin: 0;
  padding: 0;
 
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #ffffff;
  padding: 12px 8%;
  max-width: 1200px;
  margin: auto;
  
}
.logo{
  width: 130px;
}
ul{
  display: flex;
  list-style: none;
  gap: 24px;
}

ul li a{
  color: #575757;
  text-decoration: none;
}
.common-btn{
  background-color: #1D4ED8;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
}
section{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./assets/banner.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-parent{
  display: flex;
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;

}
.hero-content h1{
font-weight: bold;
font-size: 70px;
}
.hero-content p{
font-size: 20px;
}
.hero-btn{
  margin-top: 16px;
  text-align: center;
}