* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #ffffff;
  padding: 12px 8%;
  max-width: 1200px;
  margin: auto;
}
.logo img {
  width: 130px;
}
ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

ul li a {
  color: #575757;
  text-decoration: none;
}
.common-btn {
  background-color: #1d4ed8;
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
}
.hero-parent {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  gap: 20px;
}
.hero-content{
  color: #ffffff;
}
.hero-content h1 {
  font-weight: bold;
  font-size: 80px;
}
.hero-content p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 45px;
  
}
.hero-btn {
  background-color: #1d4ed8;
  padding: 20px 40px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}
.card-container{
  max-width: 1200px;
   margin: 60px auto;

}
.card-container h2{
  margin-bottom: 30px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
 
}
.card{
display: grid;
justify-content: space-between;
gap: 20px;
grid-template-columns: repeat(2,1fr);
border-radius: 12px;

}
.card .card-content{
background-color: #ffffff;
border-radius: 20px;
}
.upper{
  color:#2563eb;
  font-size: 12px;
}